python-dotenv
django
cloudinary
pillow
djangorestframework 
djangorestframework-simplejwt
gunicorn
psycopg2-binary
django-cors-headers
sqlparse
virtualenv
requests
django-role-permissions
watchfiles
dj-database-url
#add more as needed